<div class="component">
  <h2>Directivas estructurales</h2>
  <button (click)="mostrarMensaje()">Mostrar</button>
  <p *ngIf="visible">{{mensaje}}</p>
  <div>
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" #campo (blur)="recuperarNombre()"/>
    <p *ngIf="campo.value.startsWith('A')">El nombre empieza por A</p>
  </div>
  <h2>Directivas de atributos</h2>
  <div [ngClass]="{bordered: isBordered}">
    Información general
  </div>
  <div [ngStyle]="{'background-color': 'blue', 'color': 'white'}">
    Información gestionado por style
  </div>
</div>
