<div *ngIf="mensajeSeleccionado!==''">
  El mensaje seleccionado es: {{ mensajeSeleccionado }}
</div>
<app-mi-panel *ngFor="let texto of textos"
  [texto]="texto" [claseCss]="claseCss" (propagar)="recuperarParrafo($event)"></app-mi-panel>
