<div class="container">
  <h1 class="title">Trabajando con directivas</h1>
  <h2 class="subtitle">Directiva if</h2>
  <app-mostrar-mensaje mensaje="Texto a mostrar en pantalla"></app-mostrar-mensaje>
  <h2 class="subtitle">Directiva for</h2>
  <app-listado-basico [cadenas]="array1"></app-listado-basico>

  <app-listado-basico [cadenas]="array2"></app-listado-basico>
  <h2 class="subtitle">Otro ejemplo más</h2>
  <app-listado-panel [textos]="cadenas" claseCss="especial"></app-listado-panel>
</div>
